image: mcr.microsoft.com/playwright/java:v1.56.0-jammy

stages:
  - test

variables:
  MAVEN_CLI_OPTS: "-B"
  BASE_URL: "http://orangehrm"

services:
  - name: mariadb:11.3
    alias: orangehrm-db
    variables:
      MARIADB_ROOT_PASSWORD: rootpass
      MARIADB_DATABASE: orangehrm
      MARIADB_USER: orangeuser
      MARIADB_PASSWORD: orangepass

  - name: orangehrm/orangehrm:5.7
    alias: orangehrm
    variables:
      ORANGEHRM_DATABASE_HOST: orangehrm-db
      ORANGEHRM_DATABASE_PORT_NUMBER: "3306"
      ORANGEHRM_DATABASE_NAME: orangehrm
      ORANGEHRM_DATABASE_USER: orangeuser
      ORANGEHRM_DATABASE_PASSWORD: orangepass

ui_tests:
  stage: test
  script:
    - echo "PWD:" && pwd
    - echo "Repo:" && ls

    - echo "Java version:" && java -version
    - echo "Maven version:" && mvn -v

    # --- DB debug (non-fatal) ---
    - echo "Check DB connectivity (non-fatal)..."
    - |
      set +e
      mysql --protocol=tcp \
            -horangehrm-db \
            -P3306 \
            -uorangeuser -porangepass \
            -e "SHOW DATABASES;"
      echo "mysql exit code: $?"
      set -e

    # --- ALWAYS run tests ---
    - echo "Running Maven tests..."
    - mvn $MAVEN_CLI_OPTS test -Dsurefire.suiteXmlFiles=testng.xml

    - echo "Tree after mvn test:"
    - ls -R
  artifacts:
    when: always
    expire_in: 14 days
    reports:
      junit:
        - target/surefire-reports/*.xml
    paths:
      - target/surefire-reports/
      - test-output/