image: ubuntu:22.04

stages:
  - test

variables:
  MAVEN_CLI_OPTS: "-B -q"
  BASEURL: "http://orangehrm"

before_script:
  - apt-get update
  - apt-get install -y openjdk-21-jdk maven curl unzip
  - curl -fsSL https://deb.nodesource.com/setup_20.x | bash -
  - apt-get install -y nodejs
  - npx playwright install-deps
  - npx playwright install

cache:
  key: "maven-cache"
  paths:
    - .m2/repository

services:
  - name: mariadb:11.3
    alias: mariadb
    variables:
      MARIADB_ROOT_PASSWORD: rootpass
      MARIADB_DATABASE: orangehrm
      MARIADB_USER: orangeuser
      MARIADB_PASSWORD: orangepass

  - name: bitnami/orangehrm:latest
    alias: orangehrm
    variables:
      MARIADB_HOST: mariadb
      MARIADB_PORT: "3306"
      MARIADB_USER: orangeuser
      MARIADB_PASSWORD: orangepass
      MARIADB_DATABASE: orangehrm
      ORANGEHRM_PASSWORD: admin123

ui_tests:
  stage: test
  script:
    - echo "Java version:" && java -version
    - echo "Maven version:" && mvn -v

    - echo "Warte auf MariaDB..."
    - |
      for i in $(seq 1 30); do
        if mysqladmin ping -h mariadb -prootpass --silent; then
          echo "MariaDB ist erreichbar."
          break
        fi
        echo "MariaDB noch nicht bereit ($i/30)..."
        sleep 5
      done

    - echo "Warte auf OrangeHRM..."
    - |
      for i in $(seq 1 40); do
        if curl -sSf "$BASEURL" >/dev/null 2>&1; then
          echo "OrangeHRM ist erreichbar."
          break
        fi
        echo "OrangeHRM noch nicht bereit ($i/40)..."
        sleep 5
      done

    - mvn $MAVEN_CLI_OPTS clean test -Dsurefire.suiteXmlFiles=testng.xml

  artifacts:
    when: always
    expire_in: 14 days
    reports:
      junit:
        - target/surefire-reports/*.xml
    paths:
      - target/surefire-reports/
      - test-output/
      - test-results/

#image: mcr.microsoft.com/playwright/java:v1.56.0-jammy
#
#stages:
#  - test
#
#variables:
#  MAVEN_CLI_OPTS: "-B -q"
#
#cache:
#  key: "maven-cache"
#  paths:
#    - .m2/repository
#
#ui_tests:
#  stage: test
#  script:
#    - echo "Java version:"
#    - java -version
#    - echo "Maven version:"
#    - mvn -v
#    - mvn $MAVEN_CLI_OPTS clean test -Dsurefire.suiteXmlFiles=testng.xml
#  artifacts:
#    when: always
#    expire_in: 14 days
#    reports:
#      junit:
#        - target/surefire-reports/*.xml
#    paths:
#      - target/surefire-reports/
#      - test-output/