image: maven:3.9.9-eclipse-temurin-21

stages:
  - test

variables:
  MAVEN_OPTS: "-Dmaven.test.failure.ignore=false"
  MAVEN_CLI_OPTS: "-B -q"

cache:
  key: "maven-cache"
  paths:
    - .m2/repository

ui_tests:
  stage: test
  script:
    - echo "Java version:"
    - java -version
    - echo "Maven version:"
    - mvn -v
     - mvn -q exec:java -Dexec.mainClass=com.microsoft.playwright.CLI -Dexec.args="install-deps"
    - mvn $MAVEN_CLI_OPTS clean test -Dsurefire.suiteXmlFiles=testng.xml
  artifacts:
    when: always
    expire_in: 14 days
    reports:
      junit:
        - target/surefire-reports/*.xml
    paths:
      - target/surefire-reports/
      - test-output/