image: mcr.microsoft.com/playwright/java:v1.56.0-jammy

stages:
  - test

variables:
  MAVEN_CLI_OPTS: "-B -q"

cache:
  key: "maven-cache"
  paths:
    - .m2/repository

ui_tests:
  stage: test
  script:
    - echo "Java version:"
    - java -version
    - echo "Maven version:"
    - mvn -v
    - mvn $MAVEN_CLI_OPTS clean test -Dsurefire.suiteXmlFiles=testng.xml
  artifacts:
    when: always
    expire_in: 14 days
    reports:
      junit:
        - target/surefire-reports/*.xml
    paths:
      - target/surefire-reports/
      - test-output/